.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.logo span {
  color: #4d5ae5;
}

.nav-list > li {
  list-style: none;
}

.nav-list > li > a {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts-list > li {
  list-style: none;
}

.contacts-list > li > a {
  text-decoration: none;
  font-style: normal;
  color: #434455;
}

.hero {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

.hero-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}

.section-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  color: #2e2f42;
}

.features-list > li {
  list-style: none;
  line-height: 24px;
}

.team-section {
  background-color: #f4f4fd;
}

.team-list > li {
  list-style: none;
  background-color: #fff;
}

.portfolio-list > li {
  list-style: none;
}

.footer {
  background-color: #2e2f42;
}

.footer-text {
  color: #f4f4fd;
}

.footer .logo {
  color: #fff;
}
